@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-950;
}
body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-600 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}
